  @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


  html, body {
  	font-family: 'Caveat';
  	font-size: 25px;
  	line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    height: 100%;
    background: white;

}

a{
	text-decoration: none;
	color: rgba(34,54,69,.7);
	font-weight: 500;
}
a:hover{
	color: red;
}

.navbar {
	background:white;
	padding: 2rem 1.6rem;
	height: 0rem;
	min-height: 12vh;
	margin: 1rem 1.6rem;
}
.navbar .navbar-brand a{
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}
.navbar-light a.navbar-brand{
	font-family: Yellowtail;
	font-size: 2rem;
	color: #e74c3c;
}

.navbar-light a.navbar-brand:hover, .navbar-light a.navbar-brand:focus{/*//////////////////////////////////////////////////////*/
	color: #e74c3c;
}
.navbar-toggler{
	background: #e74c3c;
	border : none;
	padding: 10px 6px;
	outline: none;
}
.navbar-toggler span{
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background: #fff;
}
.navbar-toggler span + span{
	margin-top: 4px;
	width: 18px;
	margin-left: 4px;
}
.navbar-toggler span + span{
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background: #fff;
}

/*navbar 被蓋掉的解法*/

.navbar-collapse.justify-content-between.collapse.show{
	background-color: white;
	position: relative;
	z-index: 66;
	/*top: -28px;*/
}






.bd-example{
	margin: 1.6rem 2.2rem;


}
.welcome{

   margin-left : 600px;
   margin-top: -10px;
   font-size: 1.8rem;
   width: 7.5em; height: 1.25em;
   border-right: 1px solid transparent;
   animation: welcome 2s steps(30, end), blink-caret .55s step-end infinite;
    
   word-break: break-all;
   overflow: hidden;
}
/* 列印效果 */
@keyframes welcome {
    from { width: 0; }
    to { width: 7.5em; }
}

.card{
	margin-top: 2rem;
	width: 18px;
	margin-left: 4rem;
}
.about-us{
	margin: 1rem 4rem;
	font-size: 40px;

}
.line-cross{
	margin: 1rem 4rem;
	margin-top: -25px;
}
.card-img-top{
	width: 250px;
	height: 250px;
	margin: 1rem 2.6rem;

}
.card-img-top:hover{
    transform: scale(1.5, 1.5);
}

.text-center.text-lg-start.bg-light.text-muted{
	font-size: 20px;
}
.text-uppercase.fw-bold.mb-4{
    font-size: 20px;
}
/*

.container2{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container2 .card2{
	position: relative;
	width: 300px;
	height: 400px;
	background: #0c002b;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.2);

}

.container2 .card2::before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255,255,255,0.1);
	pointer-events: none;

}
.container2 .card2 .content2{
	padding: 30px;
	text-align: center;
}
.container2 .card2 .content2 h2{
	position: absolute;
	right: 30px;
	font-size: 4em;
	font-weight: 800;
	color: #1779ff;
	z-index: 1;
	opacity: 0.1;
	transition: 0.5s;
}
.container2 .card2:hover .content2 h2{
	opacity: 1;
	transform: translateY(-100px);
}
.container2 .card2 .content2 h3{
	position: relative;
	font-size: 1.5em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: 0.5s;
}
.container2 .card2 .content2 p{
	position: relative;
	font-size: 1em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	font-weight: 300;
	transition: 0.5s;

}
.container2 .card2:hover .content2 h3,
.container2 .card2:hover .content2 p{
	opacity: 1;
}

.container2 .card2 .content2 a{
	display: inline-block;
	margin-top: 15px;
	padding: 8px 15px;
	background: #fff;
	color: #0c002b;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}
.container2 .card2 span{
	transition: 0.5;
	opacity: 1;
}
.container2 .card2:hover span{
	opacity: 1;
}
.container2 .card2 span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right,transparent,#1779ff);
	animation: animate1 2s linear-infinite;
}
@keyframes animate1
{
	0%
	{
		transform: translateX(-100%);
	}
	100%
	{
		transform: translateX(100%);
	}
	
}

*/
.container3{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px 0;
}
.container3 .card3{
	position: relative;
	width: 320px;
	height: 440px;
	margin: 30px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
	            inset -5px -5px 5px rgba(255,255,255,0.5),
	            5px 5px 5px rgba(0,0,0,0.05),
	            -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;

}
.container3 .card3 .box{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: linear-gradient(45deg,#FAD7A0,#D7BDE2);
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.container3 .card3:hover .box{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2);
	background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
.container3 .card3 .box .content3{
	padding:20px;
	text-align:center;
}
.container3 .card3 .box .content3 h2{
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 8em;
	color: rgba(0,0,0,0.02);
	transition: 0.5s;
	pointer-events: none;
}
.container3 .card3:hover .box .content3 h2{
	color: rgba(0,0,0,0.05);
}
.container3 .card3 .box .content3 h3{

	font-size: 1.8em;
	color: #777;
	transition: 0.5s;
	z-index: 1;
}
.container3 .card3 .box .content3 p{
	font-size: 1em;
	color: #777;
	z-index: 1;
	font-weight: 300;
	transition: 0.5s;
}
.container3 .card3:hover .box .content3 h3,.container3 .card3:hover .box .content3 p{
	color: #fff;
}
.container3 .card3 .box .content3 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #D35400 ;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container3 .card3:hover .box .content3 a{
	background: #ff568f;
}